/.metadata/

# Eclipse 관련 폴더 및 파일 무시
.classpath
.project
.settings/
eclipse/
portfolio/
track005_jsp/tomcat9.0/
track005_jsp/Servers/

# 빌드 결과물 무시
/bin/
/build/

# IDE 관련
.idea/
*.iml

# OS별 임시파일
*.DS_Store
Thumbs.db

application-oauth.properties

# 윤정이가 시킴
.env
track008_1_NODEREACT/back/node_modules
track008_1_NODEREACT/front/node_modules
track008_1_NODEREACT/front/.next

track008_test/back-t/node_modules
track008_test/back-t/.next
track008_test/front-t/node_modules
track008_test/front-t/.next


track007_boot_api/application.properties