@charset "UTF-8";

.myhidden{position: absolute; right:-9999px; width: 1px; height: 1px; overflow: hidden;
  border: 0; white-space: nowrap; 
  clip:rect(0,0,0); /*요쇼를 잘라서 시각적으로 완전히 숨김-구형 브라우저 호환*/
} 
/*img{width:100px; height: 300px; overflow: hidden;} */
#demo{height:300px; overflow: hidden; object-fit: cover; overflow: hidden;}
h3{text-align: center; text-decoration: underline;}

.mybg{background-color: transparent;}



/*body{
background-image:url(../img/KakaoTalk_20260417_124854252.png);
background-repeat: no-repeat;
background-size: cover;
background-position: bottom;
background-attachment: fixed;
overflow-x: hidden;
}*/

/*transfrom + transition*/

.nav-link{transition: all 0.1s;}

.nav-link:hover{transform: translateY(-3px);}

.bubble{position: fixed; top:-50px; background-color: rgb(224, 235, 243); 
        border-radius: 50%; animation: rise 8s linear infinite;  width: 20px; height: 20px; z-index: -1;}

@keyframes rise{
   0%  {transform:translateY(0)      scale(1);   opacity: 0.5 ;}
   50% {transform:translateY(300px) scale(1.2); opacity: 1;}
   100%{transform:translateY(600px) scale(0.8); opacity: 0;}
}

.bubble:nth-of-type(1){left:5%; animation-delay:0s; width:100px; height:100px;}
.bubble:nth-of-type(2){left:25%; animation-delay:2s; width:70px; height:70px;}
.bubble:nth-of-type(3){left:45%; animation-delay:3s; width:90px; height:90px;}
.bubble:nth-of-type(4){left:70%; animation-delay:1s; width:83px; height:83px;}
.bubble:nth-of-type(5){left:90%; animation-delay:3s; width:75px; height:75px;}

.bbb{position: fixed; top:-10px; background-color: rgb(243, 224, 243); 
        border-radius: 50%; animation: rise1 8s linear infinite;  width: 20px; height: 20px; z-index: -1;}

@keyframes rise1{
   0%  {transform:translateY(0)      scale(1);   opacity: 0.5 ;}
   50% {transform:translateY(300px) scale(1.2); opacity: 1;}
   100%{transform:translateY(600px) scale(0.8); opacity: 0;}
}

.b1{left:18%; animation-delay:0s; width:75px; height:75px;}
.b2{left:38%; animation-delay:2s; width:50px; height:50px;}
.b3{left:53%; animation-delay:3s; width:60px; height:60px;}
.b4{left:78%; animation-delay:1s; width:35px; height:35px;}
.b5{left:93%; animation-delay:3s; width:40px; height:40px;}
