@charset "UTF-8";

.myhidden{position: absolute; right:-9999px; width: 1px; height: 1px; overflow: hidden;
  border: 0; white-space: nowrap; 
  clip:rect(0,0,0); /*요쇼를 잘라서 시각적으로 완전히 숨김-구형 브라우저 호환*/
} 
/*img{width:100px; height: 300px; overflow: hidden;} */
#demo{height:300px; overflow: hidden; object-fit: cover; overflow: hidden;}
h3{text-align: center; text-decoration: underline;}

.mybg{background-color: transparent;}



body{
background-image:url();
background-repeat: no-repeat;
background-size: cover;
background-position: bottom;
background-attachment: fixed;
overflow-x: hidden;
}

/*transfrom + transition*/

h3{transition: all 0.1s;}

h3:hover{transform: translateY(3px);}


